form {
  margin-top: 3rem;
}
form input[name='city'],
form input[name='country'] {
  background-color: transparent !important;
  color: white;
  border-bottom: 2px solid whitesmoke !important;
  border-radius: 0;
  border: 0;
}
form input:focus {
  background-color: transparent;
  box-shadow: none !important;
  color: white !important;
}
form input .container::-webkit-input-placeholder {
  color: white !important;
}
